[v-cloak] {
    display: none;
}

body {
    font-family: "Rubik", sans-serif;
}

.navbarSocial:hover {
    opacity: 0.8
}

@media (max-width: 768px) {
    #welcomeImagesContainer {
        height: 300px!important
    }
    #welcomeImagesLeft {
        height: 225px!important;
        margin-right: -150px!important
    }
    #welcomeImagesCenter {
        height: 300px!important
    }
    #welcomeImagesRight {
        height: 225px!important;
        margin-left: -150px!important
    }
}

.nav-item:hover {
    color: rgba(255,255,255,1)!important
}

#btnDefault:hover {
    background-color: #ab55f3!important;
}

@media (max-width: 768px) {
    #descriptionNFT {
        width: 100%!important
    }
}

@keyframes listImageMoveNormal {
    0% {left: -3000px;}
    50% {left: 0px;}
    100% {left: -3000px;}
}

@keyframes listImageMoveInvert {
    0% {left: 0px;}
    50% {left: -3000px;}
    100% {left: 0px;}
}

.tokenId:hover {
    color: rgb(122, 64, 172)!important;
}